@tailwind base;
@tailwind components;
@tailwind utilities;


/**
 * Brand styles are not "default toucan" as brand usage is special cased and fairly protected.
 */
@layer base {
  .bg-brand-idle {
    background: #D31912;
  }
  .bg-brand-hover {
    background: #ED4435;
  }
  .bg-brand-pressed {
    background: #B50119;
  }
}

@layer utilities {
  .grid-rows-docfy-container {
    gridTemplateRows: 'min-content 1fr min-content',
  }
  .grid-cols-demo-expanded {
    gridTemplateCols: '99% 8px 1fr',
  }
  .grid-cols-demo-normal {
    gridTemplateCols: '75% 8px 1fr',
  }
}

@layer components {
  .interactive-brand {
    @apply bg-brand-idle;
    @apply shadow-base;
    @apply text-nav-text-and-icons;
  }

  .interactive-brand:not(.interactive-disabled):focus-visible {
    @apply bg-brand-hover;
  }

  .interactive-brand:not(.interactive-disabled):hover {
    @apply bg-brand-hover;
    @apply shadow-md;
  }

  .interactive-brand:not(.interactive-disabled):active {
    @apply bg-brand-pressed;
    @apply shadow-inner-md;
  }
}


.prose .docfy-demo__example button {
  @apply focusable interactive-normal duration-150 ease-out inline-flex items-center justify-center px-2 py-1 rounded-sm transition type-md-medium;
}


:root {
  /* "Dark" */
  --horizon-lavender: #B877DB;
  --horizon-turquoise: #25B2BC;
  --horizon-cranberry: #E95678;
  --horizon-apricot: #F09383;
  --horizon-rosebud: #FAB795;
  --horizon-tacao: #FAC29A;

  /* "Light" */
  --horizon-amethyst: #8931B9;
  --horizon-elm: #1D8991;
  --horizon-crimson: #DA103F;
  --horizon-thunderbird: #DC3318;
  --horizon-tango: #F6661E;
  --horizon-jaffa: #F77D26;
}

.theme-light {
  --horizon-shadow: #16161C;
  --horizon-border: #1A1C23;
  --horizon-background: #1C1E26;
  --horizon-background-alt: #232530;
  --horizon-accent: #2E303E;
  --horizon-accent-alt: #6C6F93;
  --horizon-accent: #E9436F;
  --horizon-secondary-accent-alt: #E95379;
  --horizon-negative: #F43E5C;
  --horizon-positive: #09F7A0;
  --horizon-warning: #27D796;
  --horizon-modifier: #21BFC2;
  --horizon-tertiary-accent: #FAB28E;

  --code-bg: var(--horizon-background-alt);
  --code-variable: var(--horizon-cranberry);
  --code-param: var(--horizon-apricot);
  --code-class: var(--horizon-yellow);
  --code-tag: var(--horizon-accent-alt);
  --code-name: var(--horizon-yellow);
  --code-number: var(--horizon-warning);
  --code-punctuation: #aaa;
  --code-regex: #be4678;
  --code-function: var(--horizon-turquoise);
  --code-builtin: var(--horizon-lavender);
  --code-literal: var(--horizon-cranberry);
  --code-string: var(--horizon-tacao);
  --code-keyword: var(--horizon-lavender);
  --code-highlight-bg: var(--horizon-background);
}

.syntax-normal {
  --horizon-blue: #26BBD9;
  --horizon-cyan:#59E3E3;
  --horizon-green: #29D398;
  --horizon-magenta: #EE64AE;
  --horizon-red: #E95678;
  --horizon-yellow: #FAB795;
}

.theme-dark {
  --horizon-shadow: #16161C;
  --horizon-border: #1A1C23;
  --horizon-background: #FDF0ED;
  --horizon-background-alt: #FADAD1;
  --horizon-accent: #F9CBBE;
  --horizon-accent-alt: #F9CEC3;
  --horizon-accent: #E73665;
  --horizon-secondary-accent-alt: #E84A72;
  --horizon-negative: #F43E5C;
  --horizon-positive: #07DA8C;
  --horizon-warning: #1EB980;
  --horizon-modifier: #1EAEAE;
  --horizon-tertiary-accent: #AF5427;

  /* overrides, for readability */
  --horizon-amethyst: #8931B9;
  --horizon-elm: #1D8991;
  --horizon-crimson: #DA103F;
  --horizon-thunderbird: #DC3318;
  --horizon-tango: #F6661E;

  --horizon-blue: #3FC6DE;
  --horizon-cyan:#6BE6E6;
  --horizon-green: #3FDAA4;
  --horizon-magenta: #F075B7;
  --horizon-red: #EC6A88;
  --horizon-yellow: #bb8367;

}

.theme-dark {
  --code-bg: white;
  --code-variable: var(--horizon-crimson);
  --code-param: var(--horizon-tango);
  --code-class: var(--horizon-yellow);
  --code-tag: var(--horizon-accent-alt);
  --code-name: var(--horizon-crimson);
  --code-number: var(--horizon-accent);
  --code-punctuation: #aaa;
  --code-regex: #be4678;
  --code-function: var(--horizon-turquoise);
  --code-builtin: var(--horizon-lavender);
  --code-literal: var(--horizon-cranberry);
  --code-string: var(--horizon-thunderbird);
  --code-keyword: var(--horizon-amethyst);
  --code-highlight-bg: var(--horizon-background);
}

.prose {
  max-width: 1000px;
}

.prose pre {
  background: var(--code-bg);
  color: #ccc;
  margin-top: 0px;
}
.prose pre code.hljs,
.hljs {
  background: var(--code-bg);
  display: block;
  font-family: 'Source Code Pro', ui-monospace, monospace, sans-serif;
  line-height: 1.25rem;
  font-size: 0.85rem;
}

.hljs-comment { color: #777; }
.hljs-quote { color: #655f6d; }
.hljs-operator,
.hljs-punctuation { color: var(--code-punctuation); }

.hljs-variable,
.hljs-template-variable {
  color: var(--code-variable);
}
.hljs-params { color: var(--code-param); }
.hljs-attribute { color: var(--code-param); }

.hljs-class { color: var(--code-class); }
.hljs-tag { color: var(--code-tag); }
.hljs-title { color: var(--code-name); }
.hljs-name { color: var(--code-name); }
.hljs-number { color: var(--code-number); }

.hljs-regexp,
.hljs-link,
.hljs-selector-id,
.hljs-selector-class {
  color: var(--code-regex);
}

.hljs-function { color: var(--code-function); }
.hljs-built_in,
.hljs-builtin-name { color: var(--code-builtin); }

.hljs-meta,
.hljs-literal,
.hljs-type {
  color: var(--code-literal);
}

.hljs-string,
.hljs-symbol,
.hljs-code,
.hljs-bullet {
  color: var(--code-string);
}

.hljs-keyword,
.hljs-selector-tag {
  color: var(--code-keyword);
}

.hljs-section {
  color: var(--horizon-lavender);
}

.hljs-deletion,
.hljs-addition {
  color: var(--code-highlight-bg);
  display: inline-block;
  width: 100%;
}

.hljs-deletion { background-color: var(--horizon-negative); }
.hljs-addition { background-color: var(--horizon-positive); }
.hljs-emphasis { font-style: italic; }
.hljs-strong { font-weight: bold; }





/**
 * This isn't customizable, so let's hide it
 */
h2#examples {
  display: none;
}



.docfy-demo__snippet {
  max-height: 30rem;
  overflow-y: scroll;
}

.docfy-demo {
  @apply isolate flex flex-col gap-4 rounded-sm;
}

.docfy-collection .docfy-demo {
  @apply grid-rows-docfy-container grid h-full shadow-none;
}

.docfy-collection .docfy-demo__snippet {
  overflow-x: auto;
}

.docfy-collection .docfy-demo__example {
  @apply grid justify-items-center;
}

.docfy-demo code {
  @apply shadow-inner-lg rounded-sm px-4 py-2;
}

.docfy-demo__snippets {
  @apply overflow-x-auto;
}

.docfy-demo__snippets__tabs {
  @apply pl-2;
}

.docfy-demo__snippets__tabs__button {
  @apply type-md text-body-and-labels ring-offset-focus ring-ground-floor relative
    px-6 py-2 ring-inset ring-offset-2;
}

.docfy-demo__snippets__tabs__button:hover {
  @apply outline-none text-positive;
}

.docfy-demo__snippets__tabs__button:focus-visible {
  @apply ring-2;
}
.docfy-demo__snippets__tabs__button:focus {
  @apply text-blue outline-none;
}

.docfy-demo__snippets__tabs__button--active {
  @apply type-md-medium text-text-and-icons;
}
.docfy-demo__snippets__tabs__button--active::after {
  @apply bg-blue z-1 absolute bottom-0 left-0 right-0 rounded-t-sm;
  content: ' ';
  height: 3px;
}
